
body{
    background: black;
    background-image: url("../images/bg.png");
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 1340px;
    max-width: 1400px;
    background-repeat: no-repeat;
}
div{
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    display: flex;
    flex-direction: column;
}
.logo{
    background: url("../images/Logo.png");
    height: 52px;
    width: 164px;
    margin-top: 23px;
}
.container_1{
    display: flex;
    margin-top: 23px;
}
.content_1{
    background-color: rgb(37, 37, 37);
    opacity: 0.8;
    width: 539px;
    height: 416px;
}
.content_2{
    background-color: rgb(37, 37, 37);
    width: 407px;
    height: 416px;

}
.size_1{

    font-size: 40px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.375;
}
.size_2{
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.375;

}
.size_3{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.375;
}
.content_1 p{
    margin: 30px;
}
.content_1 p span{
    color:rgb(255, 162, 0);
}
.content_2{
    display: flex;
    flex-direction: column;
}
.content_2 hr{
    background-color: rgb(255, 162, 0);
    width: 114px;
    height: 5px;
    border: none;
}
.text_1 {

    font-size: 27px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: justifyLeft;
    margin-left: 68px;

}
.text_2{
    font-size: 27px;
}
.text_3{
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.231;
    text-align: justifyLeft;
    margin-left: 68px;
}
.form_1{
    width: 170px;
    height: 34px;
    margin-top: 20px;
    margin-left: 20px;
}
.phone{
    width: 257px;
    height: 36px;
}
.phone_s{
    width: 85px;
    height: 36px;
}
.button{
    background-color: rgb(27, 111, 236);
    width: 270px;
    height: 45px;
    border: none;
    margin-left: 70px;

}
.baner{
    flex-basis:208px;
    background-color: rgb(17, 17, 17);
    width: 945px;
    display: inline-block;
}

.text_baner_orang{
    font-size: 22px;
    font-family: "Roboto";
    color: rgb(255, 162, 0);
    line-height: 1.727;
    text-align: justifyLeft;
}
.baner_text{
    margin: 0 0 0 35px ;
    margin-left: 32px;
    width: 50%;
    display: inline-block;

}
.arm{
    margin: 35px 158px 0 0 ;

}


.text_cont{
    background-color: rgb(37, 37, 37);
    width: 946px;
    height: 60px;
}
.text_cont p{
    font-size: 17px;
    font-family: "Roboto";
    color: grey;
    font-style: italic;
    text-align: justifyLeft;
    padding-left: 50px;

}
.white_text{
    color: rgb(255, 255, 255);
}
.foter{
    flex-basis:73px;
    width: 100%;

}
.foter img{
    margin-left:15px ;
}
.foter p{
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(190, 190, 190);
    text-align: justifyLeft;
}
.foter span{
    text-decoration: underline;
}
